

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
.search__wrapper {
    display: flex;
   flex-flow: column wrap;
   align-content: flex-start;
    margin-left: 10px;
    padding-left:20px;
    margin-bottom: 20px;
}

.forecast__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-left:20px;

}
.inputfield {
    width: 350px;
    border-radius: 5px;
    box-shadow: 10px -2px 20px 2px rgba(0, 0, 0, 30%);
    color: #fff;
    background-color: #091921;
    margin: 20px auto 0 auto;
    padding: 20px 20px 20px 20px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;



    font-family: "Roboto", Arial !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

#button:hover {
    cursor: pointer;
  }

.container {
background-image: url("../images/weerman.jpg");
background-repeat: no-repeat;
background-size: cover;
background-size: 100vw;
padding: 0px 0px 40px 0px;

}