.forecast {
    width: 120px;
    border-radius: 5px;
    box-shadow: 10px -2px 20px 2px rgba(0, 0, 0, 30%);
    color: #fff;
    background-color: #091921;
    margin: 0px 10px 0px 10px;
    padding: 10px 10px 10px 10px;

    font-family: "Roboto", Arial !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.forecast__day--heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.forecast__day--subheading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.8em;
}

.weather-description {
    font-size: 0.8em;
}

.forecast__temp_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.weather__icon--small {
    width: 60px;
}

.forecast__temp {
    font-weight: 600;
    font-size: 35px;
    width: auto;
    letter-spacing: -1px;
    margin: 10px 10px 10px 10px;
}

.forecast__parameter--row {
    display: flex;
    justify-content: space-between;
}

.forecast__parameter--label {
    text-align: left;
    font-weight: 400;
    font-size: 11px;
}

.forecast__parameter--value {
    text-align: right;
    font-weight: 600;
    font-size: 12px;
}

.forecast__arrow {
    height: 0.8rem;
}